/*! normalize.css v2.1.0 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block;
}
/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Address styling not present in IE 8/9.
 */
[hidden] {
  display: none;
}
/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 * 3. Ensure that the HTML is always 100% height. This fixed body height issues in Chrome for example.
 */
html {
  font-family: Microsoft YaHei;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  min-height: 100%;
}
/**
 * Remove default margin.
 */
body {
  margin: 0;
}
/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}
/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}
/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold;
}
/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic;
}
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}
/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap;
}
/**
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0;
}
/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden;
}
/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0;
}
/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  font-weight: inherit;
  /* 1 */
  margin: 0;
  /* 3 */
  padding: 0;
}
/**
 * Remove the default button background color that browsers set
 */
button {
  background: transparent;
}
/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}
/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}
/**
 * Make sure selects don't get the default browser styles.
 */
select {
  -webkit-appearance: none;
}
/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}
/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}
/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}
/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 * 3. Disable resizing by default.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
  resize: none;
  /* 3 */
}
/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
  outline: 0;
}
body {
  line-height: 1;
  color: black;
  background: white;
}
ol,
ul,
li {
  list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}
blockquote,
q {
  quotes: "" "";
}
a,
a:hover,
a:visited {
  text-decoration: none;
}
button,
input,
fieldset,
textarea,
select {
  font-size: inherit;
  color: inherit;
  border: none;
  border-radius: 0;
}
img {
  width: 100%;
  height: auto;
}
.clearfix {
  *zoom: 1;
}
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.clearfix:after {
  content: '.';
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.fl,
.container .block50,
.container .block25,
.container .block33,
.container .block60,
.container .block40,
.container .block100 {
  float: left;
}
.ellipsis,
.container .list .list-item .list-item-left {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.container {
  min-width: 803px;
  height: 100%;
  overflow: hidden;
}
.container .row {
  margin: 6px 12px 0 12px;
}
.container .block50 {
  width: 50%;
  float: left;
}
.container .block25 {
  width: 25%;
}
.container .block33 {
  width: 33.33%;
}
.container .block60 {
  width: 60%;
}
.container .block40 {
  width: 40%;
}
.container .block100 {
  width: 100%;
}
.container .info-left {
  border: 1px solid #a0d1f4;
  margin-right: 2.5px;
  margin-left: 0;
}
.container .info-middle {
  border: 1px solid #a0d1f4;
  margin-left: 2.5px;
  margin-right: 2.5px;
}
.container .info-right {
  border: 1px solid #a0d1f4;
  margin-right: 0;
  margin-left: 2.5px;
}
.container .info-none {
  border: 1px solid #a0d1f4;
  height: 100%;
}
.container .notices {
  padding: 8px 0 0 8px;
}
.container .notices .notice {
  display: inline-block;
  width: 100%;
  line-height: 14px;
  height: 100%;
}
.container .notices .notice .notice-tit {
  width: 84px;
  text-align: right;
  float: left;
  color: #3d3d3d;
  font-size: 12px;
}
.container .notices .notice .notice-cont {
  float: left;
  color: #0f78c9;
  font-size: 12px;
}
.container .notices .notice .notice-cont .notice-cont-item {
  margin-bottom: 6px;
}
.container .notices .notice .notice-cont .notice-cont-item .num {
  color: red;
  margin: 0 2px;
  cursor: pointer;
}
.container .notices .notice .notice-cont .notice-cont-item:hover {
  cursor: pointer;
}
.container .notices .notice .notice-cont .notice-cont-item:hover .num {
  text-decoration: underline;
}
.container .list {
  margin: 0 4px;
}
.container .list .list-item {
  height: 30px;
  line-height: 30px;
  padding-left: 18px;
  background: url("../images/list-arrow.png") no-repeat 6px center;
  font-size: 12px;
  border-bottom: 1px dashed #DDDDDD;
}
.container .list .list-item:last-child {
  border-bottom: 0;
}
.container .list .list-item .list-item-left {
  cursor: pointer;
  width: 70%;
  color: #313C47;
  float: left;
}
.container .list .list-item .list-item-left:hover {
  color: #0F78C9;
  text-decoration: underline;
}
.container .list .list-item .list-item-right {
  float: right;
  color: #666;
}
.container .table-display {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}
.container .table-display tr {
  height: 28px;
}
.container .table-display tr th {
  color: #5C6B7E;
  font-size: 12px;
  vertical-align: middle;
  text-align: left;
  padding-left: 7px;
  border: 1px solid #A0D1F4;
}
.container .table-display tr th .icon {
  display: inline-block;
  vertical-align: text-bottom;
  margin-right: 8px;
  width: 12px;
  height: 12px;
}
.container .table-display tr th .icon-blue1 {
  background: #0099FE;
}
.container .table-display tr th .icon-blue2 {
  background: #7CB7FB;
}
.container .table-display tr th .icon-blue3 {
  background: #C3DFFF;
}
.container .table-display tr th .icon-red {
  background: #F2785E;
}
.container .table-display tr th .icon-orange {
  background: #F5A623;
}
.container .table-display tr th .icon-line-red {
  display: inline-block;
  margin-right: 10px;
  width: 14px;
  height: 8px;
  background: url(../images/icon-line-red.png) no-repeat;
  margin-left: 2px;
}
.container .table-display tr th .icon-line-purple {
  display: inline-block;
  margin-right: 10px;
  width: 14px;
  height: 8px;
  background: url("../images/icon-line-purple.png") no-repeat;
  margin-left: 2px;
}
.container .table-display tr td {
  border: 1px solid #A0D1F4;
  color: #5C6B7E;
  vertical-align: middle;
  text-align: center;
  font-size: 14px;
}
.header {
  background: #d5e8fd;
  border-bottom: 1px solid #a0d1f4;
  line-height: 26px;
  font-size: 14px;
  color: #0f78c9;
  text-align: left;
  padding-left: 7px;
}
.header .more {
  float: right;
  font-size: 12px;
  color: #0f78c9;
  margin-right: 4px;
  cursor: pointer;
}
.header .more:hover {
  text-decoration: underline;
}
.tableDisplay {
  width: 95%;
  table-layout: fixed;
}
.tableDisplay tr {
  height: 35px;
}
.tableDisplay tr th {
  color: #5C6B7E;
  font-size: 12px;
  vertical-align: middle;
  text-align: left;
  padding-left: 7px;
  border: 1px solid #A0D1F4;
}
.tableDisplay tr th .icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 4px;
  width: 12px;
  height: 12px;
}
.tableDisplay tr th .icon-blue {
  background: #0063C7;
}
.tableDisplay tr th .icon-green {
  background: #00A77B;
}
.tableDisplay tr th .icon-red {
  background: #FF0000;
}
.tableDisplay tr th .icon-orange {
  background: #FF9E00;
}
.tableDisplay tr th .icon-line-red {
  display: inline-block;
  margin-right: 10px;
  width: 14px;
  height: 8px;
  background: url(../images/icon-line-red.png) no-repeat;
  margin-left: 2px;
}
.tableDisplay tr th .icon-line-purple {
  display: inline-block;
  margin-right: 10px;
  width: 14px;
  height: 8px;
  background: url("../images/icon-line-purple.png") no-repeat;
  margin-left: 2px;
}
.tableDisplay tr td {
  border: 1px solid #A0D1F4;
  color: #5C6B7E;
  vertical-align: middle;
  text-align: center;
  font-size: 12px;
}
.display {
  display: inline-block;
  vertical-align: top;
  padding: 10px;
  width: 410px;
  padding-top: 19px;
}
.display .display-item {
  float: left;
  height: 30px;
  margin-bottom: 10px;
  padding: 1px;
  font-size: 0;
  margin-right: 10px;
}
.display .display-item .left {
  width: 106px;
  height: 28px;
  color: #fff;
  font-size: 12px;
  margin-right: 2px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}
.display .display-item .right {
  display: inline-block;
  width: 71px;
  height: 28px;
  line-height: 28px;
  font-size: 20px;
  vertical-align: top;
  text-align: center;
}
.display .display-item.yb {
  background: url("../images/display-bg-yellow.png") no-repeat;
}
.display .display-item.yb .left {
  background: #F5A623;
}
.display .display-item.yb .right {
  background: #F2E5CC;
  color: #F5A623;
}
.display .display-item.zd {
  background: url("../images/display-bg-red.png") no-repeat;
}
.display .display-item.zd .left {
  background: #FD4B02;
}
.display .display-item.zd .right {
  background: #F4D0C4;
  color: #FD4B02;
}
.display .display-item.yzg {
  background: url("../images/display-bg-green.png") no-repeat;
}
.display .display-item.yzg .left {
  background: #21D376;
}
.display .display-item.yzg .right {
  background: #C1EFE0;
  color: #21D376;
}
.display .display-item.wzg {
  background: url("../images/display-bg-purple.png") no-repeat;
}
.display .display-item.wzg .left {
  background: #7630ED;
}
.display .display-item.wzg .right {
  background: #D5CAFC;
  color: #7630ED;
}
.display .display-item.cqyzg {
  background: url("../images/display-bg-blue.png") no-repeat;
}
.display .display-item.cqyzg .left {
  background: #0D80FE;
}
.display .display-item.cqyzg .right {
  background: #BCDCFF;
  color: #0D80FE;
}
.display .display-item.cqwzg {
  background: url("../images/display-bg-red.png") no-repeat;
}
.display .display-item.cqwzg .left {
  background: #E51C23;
}
.display .display-item.cqwzg .right {
  background: #EFC6CD;
  color: #E51C23;
}
.all {
  display: inline-block;
  vertical-align: top;
  margin: 10px;
  margin-top: 21px;
  width: 20%;
  padding: 20px 0;
  height: 110px;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  background: #0D80FE;
}
.all .text {
  font-size: 14px;
  margin-bottom: 15px;
}
.all .num {
  font-size: 40px;
}
.tips {
  border-radius: 2px;
  background: #E7F3FF;
  color: #1178C9;
  font-size: 12px;
  padding: 10px;
  line-height: 20px;
}
.tips .tit {
  font-size: 14px;
}
.row {
  font-size: 0;
}
.row .left {
  margin-right: 10px;
  width: 58%;
  float: left;
  border: 1px solid #A0D1F4;
  padding: 10px;
}
.row .left .tit {
  position: relative;
  font-size: 14px;
  color: #545454;
  padding-left: 10px;
  margin-bottom: 10px;
}
.row .left .tit:before {
  content: '';
  position: absolute;
  left: 0px;
  top: 0;
  width: 2px;
  height: 14px;
  border-radius: 2px;
  background: #1178c9;
}
.row .left .step-list {
  margin-bottom: 20px;
}
.row .left .step-list a:hover .step-item {
  background-color: #F4F9FF;
}
.row .left .step-list .step-item {
  padding-top: 80px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  width: 25%;
  height: 110px;
  background-position: center 16px;
  background-repeat: no-repeat;
  border: 1px solid #A0D1F4;
  border-radius: 4px;
  color: #545454;
  font-size: 12px;
}
.row .left .step-list .step-item.ksjc {
  background-image: url("../images/ksjc.png");
}
.row .left .step-list .step-item.wsxf {
  background-image: url("../images/wsxf.png");
}
.row .left .step-list .step-item.wsfc {
  background-image: url("../images/wsfc.png");
}
.row .left .step-list .step-item.lasp {
  background-image: url("../images/lasp.png");
}
.row .left .step-list .step-item.ajcl {
  background-image: url("../images/ajcl.png");
}
.row .left .step-list .step-item.flfg {
  background-image: url("../images/flfg.png");
}
.row .left .step-list .step-item.yfcl {
  background-image: url("../images/yfcl.png");
}
.row .left .step-list .step-item.qykhzb {
  background-image: url("../images/qykhzb.png");
}
.row .left .step-list .step-item.qykhbz {
  background-image: url("../images/qykhbz.png");
}
.row .left .step-list .step-item.nrkh {
  background-image: url("../images/nrkh.png");
}
.row .left .step-list .step-item.khdf {
  background-image: url("../images/khdf.png");
}
.row .left .step-list .step-item.zfkhzb {
  background-image: url("../images/zfkhzb.png");
}
.row .left .step-list .step-item.zfkhbz {
  background-image: url("../images/zfkhbz.png");
}
.row .left .step-list .step-item.khdf1 {
  background-image: url("../images/khdf1.png");
}
.row .left .step-list .step-item.khcj {
  background-image: url("../images/khcj.png");
}
.row .left .step-list .step-item.khcj1 {
  background-image: url("../images/khcj1.png");
}
.row .left .step-list .step-arrow {
  text-align: center;
  display: inline-block;
  vertical-align: top;
  width: 10%;
  height: 110px;
  background-image: url("../images/arrow.png");
  background-position: center;
  background-repeat: no-repeat;
}
.row .right {
  width: 40%;
  float: right;
}
.panel-list .panel-item {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  width: 18%;
  height: 80px;
  border-radius: 4px;
  padding: 15px 0;
  color: #fff;
  text-align: center;
  margin: 5px;
}
.panel-list .panel-item .num {
  font-size: 26px;
  margin-bottom: 10px;
}
.panel-list .panel-item .txt {
  font-size: 14px;
}
.panel-list .panel-item.green {
  background: #339900;
}
.panel-list .panel-item.red {
  background: #F42A27;
}
.panel-list .panel-item.orange {
  background: #FF6520;
}
.panel-list .panel-item.yellow {
  background: #F6B009;
}
.panel-list .panel-item.blue {
  background: #0099FF;
}
.yjnl-list .yjnl-item {
  width: 28%;
  height: 50px;
  margin: 8px 10px;
  float: left;
  border-right: 1px dotted #A0D1F4;
  padding-left: 50px;
  background-repeat: no-repeat;
  background-position: 0 center;
}
.yjnl-list .yjnl-item:nth-last-child(3n+1) {
  border-right: 0;
}
.yjnl-list .yjnl-item .txt {
  color: #647284;
  font-size: 14px;
  margin-bottom: 10px;
  margin-top: 6px;
}
.yjnl-list .yjnl-item .num {
  color: #0F78C9;
  font-size: 14px;
}
.yjnl-list .yjnl-item.yjya {
  background-image: url("../images/yjya.png");
}
.yjnl-list .yjnl-item.yjyl {
  background-image: url("../images/yjyl.png");
}
.yjnl-list .yjnl-item.yjdw {
  background-image: url("../images/yjdw.png");
}
.yjnl-list .yjnl-item.yjzb {
  background-image: url("../images/yjzb.png");
}
.yjnl-list .yjnl-item.yjzj {
  background-image: url("../images/yjzj.png");
}
.yjnl-list .yjnl-item.yljg {
  background-image: url("../images/yljg.png");
}
.yjnl-list .yjnl-item.xfll {
  background-image: url("../images/xfll.png");
}
.yjnl-list .yjnl-item.gall {
  background-image: url("../images/gall.png");
}
.yjnl-list .yjnl-item.ysll {
  background-image: url("../images/ysll.png");
}
.yjnl-list1 .yjnl-item {
  padding-left: 50px;
  background-repeat: no-repeat;
  background-position: 0 center;
  height: 50px;
  line-height: 50px;
  margin-left: 10px;
  margin-right: 10px;
}
.yjnl-list1 .yjnl-item .txt {
  color: #647284;
  font-size: 14px;
}
.yjnl-list1 .yjnl-item .num {
  float: right;
  color: #EB3432;
  font-size: 14px;
  padding: 0 4px;
}
.yjnl-list1 .yjnl-item .unit {
  float: right;
  color: #0F78C9;
  font-size: 12px;
}
.yjnl-list1 .yjnl-item.bncs {
  background-image: url("../images/bncs.png");
}
.yjnl-list1 .yjnl-item.yljj {
  background-image: url("../images/yljj.png");
}
.yjnl-list1 .yjnl-item.kynl {
  background-image: url("../images/kynl.png");
}
.yjnl-list1 .yjnl-item.hynl {
  background-image: url("../images/hynl.png");
}
.green-oval-list .tit {
  position: relative;
  font-size: 14px;
  color: #545454;
  padding-left: 10px;
  margin-bottom: 10px;
}
.green-oval-list .tit:before {
  content: '';
  position: absolute;
  left: 0px;
  top: 0;
  width: 2px;
  height: 14px;
  border-radius: 2px;
  background: #1178c9;
}
.green-oval-list ul {
  margin-bottom: 20px;
}
.green-oval-list ul .item {
  width: 200px;
  height: 38px;
  line-height: 36px;
  border: 1px solid #CFDDE7;
  border-radius: 2px;
  background: #F3F9FF;
  float: left;
  margin-right: 10px;
}
.green-oval-list ul .item .txt {
  display: inline-block;
  vertical-align: top;
  color: #0F78C9;
  font-size: 14px;
  line-height: 38px;
  padding-left: 15px;
  padding-right: 20px;
}
.green-oval-list ul .item .num {
  float: right;
  display: inline-block;
  vertical-align: top;
  height: 24px;
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  padding: 0 16px;
  border-radius: 10px;
  background: #2E9B0A ;
  margin: 6px;
  position: relative;
}
.green-oval-list ul .item .num:before {
  content: '';
  position: absolute;
  top: -6px;
  left: 0;
  width: 1px;
  height: 37px;
  background: #CFDDE7;
  margin-left: -8px;
}
